* {
    margin: 0;
    padding: 0;
}
html, body {
  margin: 0;
  padding: 0;
  overflow-x: hidden;
}
body{
  font-family: "Noto Sans KR", sans-serif;
}
ul,ol,li{list-style: none;}
a{text-decoration: none;color: inherit;}